* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-y: overlay;
}



a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

@media (max-width: 1468.890px) {
    body {
        padding: 0;
    }
}